{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% regroup services|dictsort:"category.name" by category as category_list %}
<div id="webservices" class="">
    {% for category in category_list %}
    <h2 class="category"><!-- {{ category.grouper.name }}--></h2>
    <div class="category-desc">
        <!--{{ category.grouper.description|safe }} -->
    </div>
    <table id="service-list" class="table">
        <thead>
            <tr>
                <th>Service</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody id="services-body">
        {% for service in category.list %}
        <tr>
            <td><a href="{{ service.get_absolute_url }}">{{ service.name }}</a>&nbsp;<a href="{{ service.url }}" data-tooltip='{{ service.long_description }}' target='_blank'><span class='circlequestion'></span></a></td>
            {% with service.events.latest.status as latest_status %}
            {% if latest_status %}
            <td class="status highlight">
                {{ latest_status.description }}
            </td>
            {% else %}
            <td class="status">
                {{ default.description }}
            </td>
            {% endif %}
            {% endwith %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>
<br>
<div id='recent-events'>
    <h2>Recent Events</h2>
    {% for day, incidents in dates.items %}
    {% if incidents|length == 0 %}
    <div class="no-events">{{ day|date:"M j, Y" }}: No incidents reported.</div>
    {% else %}
    {% for incident in incidents %}
    <div class="bad-events">
    <a style="text-decoration: none;" href="/incidents/{{ incident.slug }}">
        {{ incident.name }}
        Services: {{ incident.services }}
   
        {% for item_event in incident.events.all %}
            {{ item_event.status.color }}
            {{ item_event.message|safe }}
            {{ item_event.start|date:"M j, H:i T" }}
        {% endfor %}
    </a>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
