{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ service.name }} | {{ block.super }}{% endblock %}
{% block content %}
<div id="webservices" class="center frame">
  <h1>{{ service.name }}</h1>
  <p id="service-desc">{{ service.description|safe }}</p>

  <h3 class="date-range">
    {% if start_date %}
      {{ start_date|date:"n/j/Y"  }}
    {% endif %}
  </h3>

  <table style="font-size: 24px; width:100%;" class="table event-log" cellpadding="10">
    <thead>
      <tr>
        <th class="time-header">Time</th>
        <th class="status-header">Status</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody id="events-tbody">
      {% for e in events %}
      <tr>
        <td>{{ e.start|date:"N j, fA T" }}</td>
        <td class="status highlight">
          {% if e.informational %}
            <img src="{% static 'images/status/information.png' %}" alt="Information">
          {% else %}
            <img src="{% static 'images/status/' %}{{ e.status.image }}.png" alt="{{ e.status.name }}">
          {% endif %}
        </td>
        <td>{{ e.message|safe }}</td>
      </tr>
      {% endfor %}
      {% if no_events %}
      <tr>
        <td colspan="3"><h1>{{ no_events }}</h1></td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  <h2>System Metrics</h2> day week month
</div>
{% endblock %}
