{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html class="windows no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_meta %}{% endblock %}

    <title>{% block page_title_prefix %}CloudFire — {% endblock %}{% block page_title %}{{ current_site.name }}{% endblock %}{% block page_title_suffix %}{% endblock %}</title>

    {% block favicon %}<link rel="shortcut icon" href="{% static 'media/img/favicon.ico' %}" />{% endblock %}
    <link rel="alternate" type="application/rss+xml" title="Latest status updates." href="{% url 'feed' %}">

        <!--[if lte IE 8]>
        <script src="{% static 'js/libs/html5shiv.js' %}"></script>
        <![endif]-->

        {% block css %}
        <link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/fira.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/lib/bootstrap.css' %}" media="screen" />
<!--        <link rel="stylesheet" type="text/css" href="//www.mozilla.org/tabzilla/media/css/tabzilla.css" media="screen" /> -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" media="screen" />
        {% endblock %}
        {% block site_css %}{% endblock %}

        {% block extrahead %}{% endblock %}
    </head>
    <body class="flex-container">
    <div class="site-content">
        <div class="container">
            {% block site_header %}
            {% block breadcrumbs %}
            <div class="jumbotron">
                <h1><a href="/">
                 <img alt="Brand" src="{% static 'images/logo@2x.png' %}" width="60px">
                {{ current_site.name }} Status
                </a></h1>
            </div>
            {% endblock %}
            {% endblock %}

            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <!-- FIXME -->
        </div>
        </div>
        {% block site_footer %}
        {% endblock %}
    {% block js %}
    <script src="{% static 'js/libs/jquery-2.1.1.min.js' %}"></script>
<!--    <script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script> -->
    <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/site.js' %}"></script>
    {% endblock %}
    </body>
</html>
