  .footer-newsletter-form h3,
  #newsletter-form h3,
  .footer-newsletter-form .form-contents,
  #newsletter-form .form-contents,
  .footer-newsletter-form .form-submit,
  #newsletter-form .form-submit {
    width: auto;
    float: none;
    margin-bottom: 10px;
  }
  .footer-newsletter-form .form-submit,
  #newsletter-form .form-submit {
    margin-top: 10px;
  }
  .html-rtl .footer-newsletter-form h3,
  .html-rtl #newsletter-form h3,
  .html-rtl .footer-newsletter-form .form-contents,
  .html-rtl #newsletter-form .form-contents,
  .html-rtl .footer-newsletter-form .form-submit,
  .html-rtl #newsletter-form .form-submit {
    float: none;
  }
  #colophon .row {
    width: 300px;
  }
  #colophon .col {
    width: auto;
    float: none;
    margin-bottom: 10px;
  }
  .html-rtl #colophon .col {
    float: none;
  }
  #nav-main #nav-main-menu li {
    display: block;
    float: none;
    margin: 0 10px;
    border-bottom: 1px solid #f2f2f2;
  }
  #nav-main #nav-main-menu li:last-child {
    border: 0;
  }
  #nav-main #nav-main-menu a,
  #nav-main #nav-main-menu b {
    cursor: pointer;
    display: block;
    text-transform: none;
    padding: 12px 35px 12px 10px;
    margin: 0 -10px;
  }
  #nav-main #nav-main-menu a.submenu-item {
    background: 94% 50% no-repeat url(/static/media/img/sandstone/arrow-go.png);
  }
  #nav-main #nav-main-menu a:hover,
  #nav-main #nav-main-menu a:focus,
  #nav-main #nav-main-menu a:active {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    background-color: #247ac1;
    background-position: 94% 50%;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(top, #43a6e2, #247ac1);
    background-image: linear-gradient(to bottom, #43a6e2, #247ac1);
  }
  #nav-main #nav-main-menu a.submenu-item:hover,
  #nav-main #nav-main-menu a.submenu-item:focus,
  #nav-main #nav-main-menu a.submenu-item:active {
    background-image: url(/static/media/img/sandstone/arrow-go.png), -webkit-linear-gradient(top, #43a6e2, #247ac1);
    background-image: url(/static/media/img/sandstone/arrow-go.png), linear-gradient(to bottom, #43a6e2, #247ac1);
  }
  #nav-main #nav-main-menu li.first > a {
    border-radius: 10px 10px 0 0;
  }
  #nav-main #nav-main-menu li.last > a {
    border-radius: 0 0 10px 10px;
  }
  #nav-main-menu {
    background: #fff;
    position: absolute;
    z-index: 99;
    width: 200px;
    margin: 20px 0 0 -20px;
    left: -999em;
    top: 30px;
    overflow: visible;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  }
  #nav-main:hover #nav-main-menu,
  #nav-main-menu:target {
    left: auto;
  }
  .js #nav-main-menu {
    left: auto;
    display: none;
  }
  #nav-main-menu:before {
    content: "";
    display: block;
    width: 28px;
    height: 10px;
    background: no-repeat url(/static/media/img/sandstone/menu-point.png);
    position: absolute;
    left: 22px;
    top: -10px;
  }
  .html-rtl #masthead nav {
    float: right;
  }
  .html-rtl #masthead .toggle {
    left: auto;
    right: 10px;
  }
  .html-rtl #nav-main-menu {
    margin-left: 0;
    margin-right: -20px;
  }
  .html-rtl #nav-main-menu:before {
    left: auto;
    right: 12px;
  }
}
/* Wide Mobile Layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 760px) {
  #wrapper {
    width: 440px;
  }
  #masthead,
  #main-feature,
  #main-content,
  .billboard,
  .container,
  .main-column,
  .sidebar {
    width: auto;
  }
  .main-column,
  .sidebar {
    padding-left: 0;
    padding-right: 0;
  }
  #colophon .row {
    width: 420px;
  }
}
/* }}} */
@media only screen and (max-width: 480px) {
  .title-shadow-box {
    width: 240px;
  }
  .title-shadow-box:after {
    display: none;
  }
}
.no-js .platform-img.js {
  display: none;
}
/* }}} */
