html,
body {
  font-family: 'Fira Sans', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.site-content {
  flex: 1;
}
h1,
h2,
h3,
h4,
h4,
h6 {
  font-wieght: 400 !important;
}
.jumbotron {
  padding: 10px 0;
}
.jumbotron a {
  color: #424f5a;
  text-decoration: none;
}
#services-table {
  background: white;
  border: 1px solid #c1c1c1;
}
#services-table td,
#services-table th {
  border-bottom: 1px dotted #c1c1c1;
  border: none;
  font-size: 18px;
  padding: 10px;
  vertical-align: middle;
}
#services-table td span,
#services-table th span {
  border-radius: 16px;
  display: block;
  padding: 12px;
}
#services-table td {
  border-radius: 10px;
  padding: 15px;
}
#contact-block {
  margin: 50px 0;
}
#contact-block a {
  display: block;
  margin: 0 auto;
}
#contact-block button {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  transition: all 250ms;
  width: 100%;
}
#event-log h2 {
  font-size: 48px;
  margin-bottom: 30px;
}
#event-log .event-date {
  margin: 0 0 20px 0;
}
#event-log .event-date .date {
  border: 1px solid #c1c1c1;
  margin-left: 0px;
  padding: 5px;
}
#event-log .event {
  background: white;
  border-bottom: 1px solid #c1c1c1;
  border-radius: 2px;
  margin: 10px 0;
  padding: 10px;
}
#event-log h3 {
  font-weight: 300;
  margin: 10px 0;
}
#event-log p {
  margin: 0;
}
#event-log .event-desc {
  max-width: 60%;
}
.service-status {
  color: white;
  padding: 20px;
}
.service-status h3,
.service-status p {
  margin: 5px 0;
}
.service-status.null {
  background: #74bf43;
}
.service-status.down {
  background: #d74345;
}
.white-box {
  background: white;
  padding: 20px;
}
.metric {
  margin: 0 auto;
}
#metrics-area {
  background: white;
  margin: 50px 0;
  padding: 20px 0;
}
#bug-submission {
  background: white;
  border: 1px solid #c1c1c1;
  padding: 20px;
}
#bug-submission label {
  display: block;
}
.footer {
  margin: 50px 0 0 0;
  padding: 50px 0;
  background: #424f5a;
  color: #c1c1c1;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer a {
  color: #f8f8f8;
}
