.large,
.large h1 {
  font-size: 56px;
  letter-spacing: -3px;
  line-height: 100%;
}


.date {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 20px 1px 0;
  font-size: 18px;
  text-align: left;
}

small {
    /* FIXME */
    padding: 8px 0px 0px 0;
    color: #888888;
}

.color-no-incidents {
    /* FIXME */
    padding: 8px 0px 0px 0;
    color: #888888;
}
.incident-title {
    /* FIXME */
    padding: 8px 0px 0px 0;
    font-size: 18px;
}

.circlequestion:before
{
    content: '?';
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 1.8ex;
    height: 1.8ex;
    font-size: 1.0ex;
    color: #67A7D0;
    line-height: 1.8ex;
    border-radius: 1.2ex;
    margin-right: 4px;
    padding: 1px;
    border: 2px solid;
    border-color: #67A7D0;
    text-decoration: none;
}

.circlequestion:hover:before
{
    color: white;
    background: #67A7D0;
    border-color: white;
    text-decoration: none;
}

