.circlequestion:before
{
    content: '?';
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 1.8ex;
    height: 1.8ex;
    font-size: 1.2ex;
    color: #4090C4;
    line-height: 1.8ex;
    border-radius: 1.2ex;
    margin-right: 4px;
    padding: 1px;
    border: 3px solid;
    border-color: #4090C4;
    text-decoration: none;
}

.circlequestion:hover:before
{
    color: white;
    background: #4090C4;
    border-color: white;
    text-decoration: none;
}
